<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace= "FavoriteMenuMapper">

	<resultMap type = "com.uni.model.dto.FavoriteDTO" id = "favoriteResultMap">
		<id property="favId" column = "FAV_NO"/>
		<result property ="userId" column="USER_NO"/>
		<result property ="favFood1" column="FAV_FOOD1"/>
		<result property ="favFood2" column="FAV_FOOD2"/>
		<result property ="favFood3" column="FAV_FOOD3"/>
		<result property ="favFood4" column="FAV_FOOD4"/>
		<result property ="favFood5" column="FAV_FOOD5"/>
		<result property ="favFood6" column="FAV_FOOD6"/>
	</resultMap>
	
	<resultMap type = "com.uni.model.dto.FavoriteMenuDTO" id = "menuResultMap">
		<id property="foodId" column = "FOOD_ID"/>
		<result property ="foodName" column="FOOD_NAME"/>
		<result property ="rcpPat" column="FOOD_RCP_PAT"/>
		<result property ="infoEng" column="INFO_ENG"/>
		<result property ="infoNa" column="INFO_NA"/>
		<result property ="infoCar" column="INFO_CAR"/>
		<result property ="infoPro" column="INFO_PRO"/>
		<result property ="infoFat" column="INFO_FAT"/>
		<result property ="banYN" column="BAN_YN"/>
	</resultMap>
	
  	<select id = "selectAllMenu" resultMap = "favoriteResultMap">
  
  	SELECT
	  	   A.FAV_NO,
	  	   A.USER_NO,
	  	   A.FAV_FOOD1,
	  	   A.FAV_FOOD2,
	  	   A.FAV_FOOD3,
	  	   A.FAV_FOOD4,
	  	   A.FAV_FOOD5,
	  	   A.FAV_FOOD6,
	  	   A.INCLUDE_BLACK
  	  FROM FAVORITE A
  	 ORDER BY A.FAV_NO
  
  	</select>
	
  	<select id = "selectDetail" parameterType="_int" resultMap = "menuResultMap">
  
  	SELECT
	  	   A.FOOD_ID,
	  	   A.FOOD_NAME,
	  	   A.RCP_PAT,
	  	   A.INFO_ENG,
	  	   A.INFO_NA,
	  	   A.INFO_CAR,
	  	   A.INFO_PRO,
	  	   A.INFO_FAT,
	  	   A.BAN_YN
  	  FROM MASTERFOODTABLE A
  	 WHERE A.FOOD_ID = #{searchId}
  
  	</select>
  	
	<select id="getMenu" parameterType="_int" resultType="string">
		SELECT
			   A.FOOD_NAME
		  FROM MASTERFOODTABLE A
		 WHERE A.FOOD_ID = #{ menuCode }
	</select>
	
	<select id="checkBlack" parameterType="_int" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM MASTERFOODTABLE A
		 WHERE A.FOOD_ID = #{ index }
		   AND A.BAN_YN = 'Y'
	</select>
	
  	<insert id="insertFavorite" parameterType="com.uni.model.dto.FavoriteDTO">
        INSERT
          INTO FAVORITE A
        (
           A.FAV_NO,
	  	   A.USER_NO,
	  	   A.FAV_FOOD1,
	  	   A.FAV_FOOD2,
	  	   A.FAV_FOOD3,
	  	   A.FAV_FOOD4,
	  	   A.FAV_FOOD5,
	  	   A.FAV_FOOD6,
	  	   A.INCLUDE_BLACK
        )
        VALUES
        (
          SEQ_FAV_NO.NEXTVAL, 
          #{ userId }, 
          #{ favFood1 }, 
          #{ favFood2 }, 
          #{ favFood3 }, 
          #{ favFood4 }, 
          #{ favFood5 }, 
          #{ favFood6 }, 
		  (
		  	SELECT
		  		   COUNT(*)
		  	  FROM MASTERFOODTABLE
		  	 WHERE FOOD_ID IN (#{ favFood1 }, #{ favFood2 }, #{ favFood3 },
		  	   				#{ favFood4 }, #{ favFood5 }, #{ favFood6 })
		  	   AND BAN_YN = 'Y'
		  )
        )
	</insert>
	
	<delete id="deleteFavorite" parameterType="_int">
		DELETE
		  FROM FAVORITE A
		 WHERE A.FAV_FOOD1 = -1
		   AND A.FAV_FOOD2 = -1
		   AND A.FAV_FOOD3 = -1
		   AND A.FAV_FOOD4 = -1
		   AND A.FAV_FOOD5 = -1
		   AND A.FAV_FOOD6 = -1
	</delete>
	
	<update id="deleteFood" parameterType="Map">
		UPDATE
		       FAVORITE A
		 <if test="idx eq 1">
		   SET A.FAV_FOOD1 = -1
		 </if>
		 <if test="idx eq 2">
		   SET A.FAV_FOOD2 = -1
		 </if>
		 <if test="idx eq 3">
		   SET A.FAV_FOOD3 = -1
		 </if>
		 <if test="idx eq 4">
		   SET A.FAV_FOOD4 = -1
		 </if>
		 <if test="idx eq 5">
		   SET A.FAV_FOOD5 = -1
		 </if>
		 <if test="idx eq 6">
		   SET A.FAV_FOOD6 = -1
		 </if>
		 WHERE A.FAV_NO = #{ favId }
	</update>
	
	
	<select id = "selectAllCreateMenu" parameterType="string" resultType = "_int">
  	SELECT
	  	   A.FOOD_ID
  	  FROM MASTERFOODTABLE A
  	 WHERE RCP_PAT = #{rat}
  
  	</select>

	<insert id="insertMenu" parameterType="com.uni.model.dto.FavoriteDTO">
	INSERT
	  INTO FAVORITE A
	(
		A.FAV_NO,
		A.USER_NO,
		FAV_FOOD1,
		FAV_FOOD2,
		FAV_FOOD3,
		FAV_FOOD4,
		FAV_FOOD5,
		FAV_FOOD6,
		INCLUDE_BLACK
	)
	VALUES
	(
        SEQ_FAV_NO.NEXTVAL, 
		#{userId},
		#{favFood1},
		#{favFood2},
		#{favFood3},
		#{favFood4},
		#{favFood5},
		#{favFood6},
		(
		  	SELECT
		  		   COUNT(*)
		  	  FROM MASTERFOODTABLE
		  	 WHERE FOOD_ID IN (#{ favFood1 }, #{ favFood2 }, #{ favFood3 },
		  	   				#{ favFood4 }, #{ favFood5 }, #{ favFood6 })
		  	   AND BAN_YN = 'Y'
		)
	)
	</insert>
	
	<update id="updateMenu" parameterType="com.uni.model.dto.FavoriteDTO">
	UPDATE
		   FAVORITE A
	   SET FAV_FOOD1 = #{favFood1},
	   	   FAV_FOOD2 = #{favFood2},
	   	   FAV_FOOD3 = #{favFood3},
	   	   FAV_FOOD4 = #{favFood4},
	   	   FAV_FOOD5 = #{favFood5},
	   	   FAV_FOOD6 = #{favFood6},
	   	   INCLUDE_BLACK = (
							  	SELECT
							  		   COUNT(*)
							  	  FROM MASTERFOODTABLE
							  	 WHERE FOOD_ID IN (#{ favFood1 }, #{ favFood2 }, #{ favFood3 },
							  	   				#{ favFood4 }, #{ favFood5 }, #{ favFood6 })
							  	   AND BAN_YN = 'Y'
						   )
	 WHERE FAV_NO = #{favId}
	</update>
</mapper>
