<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace= "FavoriteMenuMapper">

	<resultMap type = "com.uni.model.dto.FavoriteDTO" id = "favoriteResultMap">
	
		<id property="favId" column = "FAV_NO"/>
		<result property ="userId" column="USER_NO"/>
		<result property ="favFood1" column="FAV_FOOD1"/>
		<result property ="favFood2" column="FAV_FOOD2"/>
		<result property ="favFood3" column="FAV_FOOD3"/>
		<result property ="favFood4" column="FAV_FOOD4"/>
		<result property ="favFood5" column="FAV_FOOD5"/>
		<result property ="favFood6" column="FAV_FOOD6"/>

	</resultMap>
	
  	<select id = "selectAllMenu" resultMap = "favoriteResultMap">
  
  	SELECT
	  	   A.FAV_NO,
	  	   A.USER_NO,
	  	   A.FAV_FOOD1,
	  	   A.FAV_FOOD2,
	  	   A.FAV_FOOD3,
	  	   A.FAV_FOOD4,
	  	   A.FAV_FOOD5,
	  	   A.FAV_FOOD6,
	  	   A.INCLUDE_BLACK
  	  FROM FAVORITE A
  	 ORDER BY A.FAV_NO
  
  	</select>
  	
	<select id="getMenu" parameterType="_int" resultType="string">
		SELECT
			   A.FOOD_NAME
		  FROM MASTERFOODTABLE A
		 WHERE A.FOOD_ID = #{ menuCode }
	</select>
	
  	<insert id="insertFavorite" parameterType="com.uni.model.dto.FavoriteDTO">
        INSERT
          INTO FAVORITE A
        (
           A.FAV_NO,
	  	   A.USER_NO,
	  	   A.FAV_FOOD1,
	  	   A.FAV_FOOD2,
	  	   A.FAV_FOOD3,
	  	   A.FAV_FOOD4,
	  	   A.FAV_FOOD5,
	  	   A.FAV_FOOD6,
	  	   A.INCLUDE_BLACK
        )
        VALUES
        (
          SEQ_FAV_NO.NEXTVAL, 
          #{ userId }, 
          #{ favFood1 }, 
          #{ favFood2 }, 
          #{ favFood3 }, 
          #{ favFood4 }, 
          #{ favFood5 }, 
          #{ favFood6 }, 
		  (
		  	SELECT
		  		   COUNT(*)
		  	  FROM MASTERFOODTABLE
		  	 WHERE FOOD_ID IN (#{ favFood1 }, #{ favFood2 }, #{ favFood3 },
		  	   				#{ favFood4 }, #{ favFood5 }, #{ favFood6 })
		  	   AND BAN_YN = 'Y'
		  )
        )
	</insert>
	
	<delete id="deleteFavorite" parameterType="_int">
		DELETE
		  FROM FAVORITE A
		 WHERE A.FAV_NO = #{idIdx}
	</delete>
  <!-- 
  <select id="selectMenuByCode" parameterType="_int" resultMap="menuResultMap">
  <select id="selectMenuByCode" parameterType="String" resultMap="menuResultMap">
        SELECT
               A.MENU_CODE
             , A.MENU_NAME
             , A.MENU_PRICE
             , A.CATEGORY_CODE
             , A.ORDERABLE_STATUS
         FROM TBL_MENU A
        WHERE A.ORDERABLE_STATUS = 'Y' 
          AND A.MENU_CODE = #{ code }	
	</select>
	
	insert, update, delete의 경우 resultType은 작성하지 않는다. 기본 _int로 수행 결과를 리턴한다.
	파라미터로 전달된 dto의 필드 이름으로 값을 바인딩 해 주어야 한다. getter를 이용하며 getter가 없는 경우도 에러가 발생한다.
	파라미터 타입도 생략이 가능하다. 	
	
	
	
	
	<update id="updateMenu" parameterType="com.uni.model.dto.FavoriteDTO">
		UPDATE
		       TBL_MENU A
		   SET A.MENU_NAME = #{ name }
		     , A.MENU_PRICE = #{ price }
		     , A.CATEGORY_CODE = #{ categoryCode }
		 WHERE A.MENU_CODE = #{ code }
	</update>
	
	<delete id="deleteMenu" parameterType="_int">
        DELETE
          FROM TBL_MENU A
         WHERE A.MENU_CODE = #{ code }
	</delete> -->

	
	
	
</mapper>
