<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace= "MealPlanMapper">

		<resultMap id = "mealPlanStringResultMap" type="com.uni.model.dto.MealPlanDTO">
	
		<!-- property : 자바에서 필드 변수 이름, column : DB의 해당 컬럼명 --> 
		<!-- DB에서의 기본키 --> 
		<id property="mpNo" column = "MP_NO"/>
		<!-- DB에서의 일반컬럼들 MEALPLAN TABLE --> 
		<result property="userNo" column="USER_NO"/>
		<result property="mpDate" column="MP_DATE"/>
		
		<result property="mpDateEnd" column="MP_DATE"/>
		
		<result property="breakfast1" column="BREAKFAST1"/>
		<result property="breakfast2" column="BREAKFAST2"/>
		<result property="breakfast3" column="BREAKFAST3"/>
		<result property="breakfast4" column="BREAKFAST4"/>
		<result property="breakfast5" column="BREAKFAST5"/>
		<result property="breakfast6" column="BREAKFAST6"/>
		<result property="lunch1" column="LUNCH1"/>
		<result property="lunch2" column="LUNCH2"/>
		<result property="lunch3" column="LUNCH3"/>
		<result property="lunch4" column="LUNCH4"/>
		<result property="lunch5" column="LUNCH5"/>
		<result property="lunch6" column="LUNCH6"/>
		<result property="dinner1" column="DINNER1"/>
		<result property="dinner2" column="DINNER2"/>
		<result property="dinner3" column="DINNER3"/>
		<result property="dinner4" column="DINNER4"/>
		<result property="dinner5" column="DINNER5"/>
		<result property="dinner6" column="DINNER6"/>


	</resultMap>	
	
	<select id="selectMealPlanDay" resultMap="mealPlanStringResultMap">
                
        SELECT
		    A.MP_DATE
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST1 ) AS BREAKFAST1
	        , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST2 ) AS BREAKFAST2
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST3 ) AS BREAKFAST3
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST4 ) AS BREAKFAST4
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST5 ) AS BREAKFAST5
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST6 ) AS BREAKFAST6
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH1 ) AS LUNCH1
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH2 ) AS LUNCH2
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH3 ) AS LUNCH3
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH4 ) AS LUNCH4
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH5 ) AS LUNCH5
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH6 ) AS LUNCH6
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER1 ) AS DINNER1
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER2 ) AS DINNER2
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER3 ) AS DINNER3
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER4 ) AS DINNER4
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER5 ) AS DINNER5
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER6 ) AS DINNER6
		    
		FROM MEALPLAN A	
		WHERE USER_NO = 1
		  AND A.MP_DATE = #{ mpDate }
		<!--  
		AND MP_DATE BETWEEN TO_DATE('#{ mpDate }', 'YYYY-MM-DD')
		                AND TO_DATE('#{ mpDate }', 'YYYY-MM-DD')
        -->
	</select>



	<select id="selectMealPlanWeek" resultMap="mealPlanStringResultMap">
                
        SELECT
		    A.MP_DATE
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST1 ) AS BREAKFAST1
	        , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST2 ) AS BREAKFAST2
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST3 ) AS BREAKFAST3
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST4 ) AS BREAKFAST4
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST5 ) AS BREAKFAST5
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST6 ) AS BREAKFAST6
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH1 ) AS LUNCH1
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH2 ) AS LUNCH2
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH3 ) AS LUNCH3
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH4 ) AS LUNCH4
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH5 ) AS LUNCH5
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH6 ) AS LUNCH6
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER1 ) AS DINNER1
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER2 ) AS DINNER2
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER3 ) AS DINNER3
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER4 ) AS DINNER4
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER5 ) AS DINNER5
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER6 ) AS DINNER6
		    
		FROM MEALPLAN A	
		WHERE USER_NO = 1
		<![CDATA[
		  AND A.MP_DATE >= #{ mpDate }		
		  AND A.MP_DATE <= (TO_DATE('${ mpDate }','YYYY-MM-DD') + INTERVAL '6' DAY)
        ]]>
	</select>
	
	<select id="selectMealPlanRange" resultMap="mealPlanStringResultMap">
                
        SELECT
		    A.MP_DATE
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST1 ) AS BREAKFAST1
	        , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST2 ) AS BREAKFAST2
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST3 ) AS BREAKFAST3
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST4 ) AS BREAKFAST4
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST5 ) AS BREAKFAST5
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.BREAKFAST6 ) AS BREAKFAST6
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH1 ) AS LUNCH1
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH2 ) AS LUNCH2
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH3 ) AS LUNCH3
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH4 ) AS LUNCH4
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH5 ) AS LUNCH5
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.LUNCH6 ) AS LUNCH6
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER1 ) AS DINNER1
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER2 ) AS DINNER2
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER3 ) AS DINNER3
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER4 ) AS DINNER4
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER5 ) AS DINNER5
		    , (SELECT FOOD_NAME FROM MASTERFOODTABLE WHERE FOOD_ID = A.DINNER6 ) AS DINNER6
		    
		FROM MEALPLAN A	
		WHERE USER_NO = 1
		<![CDATA[
		  AND A.MP_DATE >= #{ mpDate }		
		  AND A.MP_DATE <= #{ mpDateEnd }
        ]]>
	</select>
	
	<delete id="deleteMealPlanRange" parameterType="com.uni.model.dto.MealPlanDTO">
		
		DELETE 
		FROM MEALPLAN A
		WHERE A.USER_NO = 1
		<![CDATA[
		  AND A.MP_DATE >= #{ mpDate }		
		  AND A.MP_DATE <= #{ mpDateEnd }
        ]]>
	
	</delete>
	

</mapper>



	
	