<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace= "MealPlanMapper">
	<!--  
	<resultMap id="menuAndCategoryResultMap" type="com.uni.common.MenuAndCategoryDTO">
		<id property="code" column="MENU_CODE"/>
		<result property="name" column="MENU_NAME"/>
		<result property="price" column="MENU_PRICE"/>
		<result property="orderableStatus" column="ORDERABLE_STATUS"/>
		<association property="category" resultMap="categoryResultMap"/>
	</resultMap>
  -->
	<resultMap id = "mealPlanResultMap" type="com.uni.model.dto.MealPlanAndFoodDTO">
	
		<!-- property : 자바에서 필드 변수 이름, column : DB의 해당 컬럼명 --> 
		<!-- DB에서의 기본키 --> 
		<id property="mpNo" column = "MP_NO"/>
		<!-- DB에서의 일반컬럼들 MEALPLAN TABLE --> 
		<result property="userNo" column="USER_NO"/>
		<result property="mpDate" column="MP_DATE"/>
		<association property="breakfast1" resultMap="foodResultMap"/>
		<association property="breakfast2" resultMap="foodResultMap"/>
		<association property="breakfast3" resultMap="foodResultMap"/>
		<association property="breakfast4" resultMap="foodResultMap"/>
		<association property="breakfast5" resultMap="foodResultMap"/>
		<association property="breakfast6" resultMap="foodResultMap"/>
		<association property="lunch1" resultMap="foodResultMap"/>
		<association property="lunch2" resultMap="foodResultMap"/>
		<association property="lunch3" resultMap="foodResultMap"/>
		<association property="lunch4" resultMap="foodResultMap"/>
		<association property="lunch5" resultMap="foodResultMap"/>
		<association property="lunch6" resultMap="foodResultMap"/>
		<association property="dinner1" resultMap="foodResultMap"/>
		<association property="dinner2" resultMap="foodResultMap"/>
		<association property="dinner3" resultMap="foodResultMap"/>
		<association property="dinner4" resultMap="foodResultMap"/>
		<association property="dinner5" resultMap="foodResultMap"/>
		<association property="dinner6" resultMap="foodResultMap"/>
		
	</resultMap>	
	<!-- 
	<resultMap id="categoryResultMap" type="com.uni.common.CategoryDTO">
		<id property="code" column="CATEGORY_CODE"/>
		<result property="name" column="CATEGORY_NAME"/>
		<result property="refCategoryCode" column="REF_CATEGORY_CODE"/>
	</resultMap>
	-->	
	<resultMap type = "com.uni.model.dto.FoodDTO" id = "foodResultMap">
	
		<!-- property : 자바에서 필드 변수 이름, column : DB의 해당 컬럼명 --> 
		<!-- DB에서의 기본키 --> 
		<id property="foodId" column = "FOOD_ID"/>
		
		<!-- DB에서의 일반컬럼들 --> 
		<result property ="foodName" column="FOOD_NAME"/>  <!-- dto에는 기본생성자, setter 가 생성되어있어야 한다. -->
		<result property ="rcpPat" column="RCP_PAT"/>
		<result property ="infoEng" column="INFO_ENG"/>
		<result property ="infoNa" column="INFO_NA"/>
		<result property ="infoCar" column="INFO_CAR"/>
		<result property ="infoPro" column="INFO_PRO"/>
		<result property ="infoFat" column="INFO_FAT"/>
		<result property ="manual01" column="MANUAL01"/>
		<result property ="manual02" column="MANUAL02"/>
		<result property ="manual03" column="MANUAL03"/>
		<result property ="manual04" column="MANUAL04"/>
		<result property ="manual05" column="MANUAL05"/>
		<result property ="manual06" column="MANUAL06"/>
		<result property ="banYN" column="BAN_YN"/>

	</resultMap>
	
	
   	<select id="selectMealPlanDay" parameterType="com.uni.model.dto.MealPlanDTO" resultMap="mealPlanResultMap">
        SELECT
            A.*
        FROM MEALPLAN A
        WHERE A.MP_DATE = #{ mpDate }
	</select>
	
	
	<select id="selectMealPlanWeek2" parameterType="com.uni.model.dto.MealPlanDTO" resultMap="mealPlanResultMap">
     
        SELECT
		    *
		FROM MEALPLAN
		WHERE USER_NO = 1
		AND MP_DATE <![CDATA[>]]>= #{ mpDate }		
		AND MP_DATE <![CDATA[<]]>= (TO_DATE('${ mpDate }','YYYY-MM-DD') + INTERVAL '6' DAY)

       <!-- 비교연산자 부등호 그냥쓰면 오류   
         
         				1.   <![CDATA["부등호"]]> 
         								
         				2.   <  대체  lt          ex) salary &lt; 10000
         					 >  대체  gt			ex) salary &gt; 10000
         					 <= 대체  lte     	 ex) salary &lte; 10000
        		             >= 대체  gte         ex) salary &gte; 10000     -->
        
	</select>
	
	<select id="selectMealPlanDay" parameterType="com.uni.model.dto.MealPlanDTO" resultMap="mealPlanNameResultMap">
        SELECT
		    MP_DATE
		    , FN_GET_FOOD_NAME(BREAKFAST1)
		    , FN_GET_FOOD_NAME(BREAKFAST2)
		    , FN_GET_FOOD_NAME(BREAKFAST3)
		    , FN_GET_FOOD_NAME(BREAKFAST4)
		    , FN_GET_FOOD_NAME(BREAKFAST5)
		    , FN_GET_FOOD_NAME(BREAKFAST6)
		    , FN_GET_FOOD_NAME(LUNCH1)
		    , FN_GET_FOOD_NAME(LUNCH1)
		    , FN_GET_FOOD_NAME(LUNCH1)
		    , FN_GET_FOOD_NAME(LUNCH1)
		    , FN_GET_FOOD_NAME(LUNCH1)
		    , FN_GET_FOOD_NAME(LUNCH1)
		    , FN_GET_FOOD_NAME(DINNER1)
		    , FN_GET_FOOD_NAME(DINNER1)
		    , FN_GET_FOOD_NAME(DINNER1)
		    , FN_GET_FOOD_NAME(DINNER1)
		    , FN_GET_FOOD_NAME(DINNER1)
		    , FN_GET_FOOD_NAME(DINNER1)    
		FROM MEALPLAN
		WHERE USER_NO = 1
		AND MP_DATE <![CDATA[>]]>= #{ mpDate }		
		AND MP_DATE <![CDATA[<]]>= (TO_DATE('${ mpDate }','YYYY-MM-DD') + INTERVAL '6' DAY)
	</select>
	

</mapper>



	
	